/* Generali */
.clearfix:after {
   content: "";
   display: table;
   clear: both;
 }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

a {
  list-style-type: none;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

p {
  font-size: 18px;
  color: white;
}

h1  {
  font-size: 55px;
  color: white;
  padding-bottom: 30px;
  font-weight: 600;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
  padding: 30px 0;
}

h4 {
  font-size: 20px;
}

.container {
  max-width: 1550px;
}

.centrato {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* fine generali */

/* HEADER */
/* Header top */
header .header-top > div {
 padding: 20px 0;
}

header .header-top li {
  display: inline-block;
  text-transform: uppercase;
}

header .header-top .menu {
 text-align: right;
}

header .header-top .menu li {
  padding-left: 20px;
}

header .header-top .language li {
  padding-left: 10px;
}

header .header-top .language #ita {
 padding: 0 10px;
 border-left: 1px solid black; /*Si possono unire? */
 border-right: 1px solid black;
}

/* Jumbotron */
header .jumbotron {
  position: relative;
  height: 700px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: left;
}

header .jumbotron .jumbotron-text {
  text-align: center;
}

header .jumbotron .jumbotron-text p {
  padding-bottom: 30px;
}

header .jumbotron .jumbotron-text a {
  display: inline-block;
}

header .jumbotron .jumbotron-text img {
  width: 200px;
  padding-left: 2px;
}
/* fine header */

/* MAIN */
/* Main top */
main .main-top {
  padding: 25px 0;
  text-align: center;
}

main .main-top h2 {
  padding-top: 70px;
}

main .main-top a{
  color: blue;
  font-size: 20px;
}

main .main-top img{
  display: block;
  max-width: 100%;
  text-align: center;
}

main .main-top .helbizgo {
  background-color: #fafafa;
  margin: 25px;
}

main .main-top .helbizbike {
  background-color: #fafafa;
  margin: 25px;
}

/* Main center */
main .main-center #main-center-sfondo {
  background-image:url(../img/HelbizBanner.jpg);
  background-size: cover;
  background-position: left;
  height: 500px;
}

main .main-center .container p  {
  color: black;
}

main .main-center .container > div  {
  padding-top: 120px;
}

main .main-center .container > div:last-child  {
  line-height: 1.5;
}


main .main-center .container .iphone  {
  height: 180px;
}

main .main-center .container .iphone  {
  position: relative;
}

main .main-center .container .iphone img {
  top: -15%;
  max-width: 87%;
}
/* Main bottom */
main .main-bottom {
  position: relative;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  height: 300px;
  margin-top: 100px;
}

/* versione mobile */
@media all and (max-width: 767px) {
  main .main-center .container > div  {
    padding-top: 30px;
    text-align: center;
  }

  main .main-center .container > div:last-child  {
    margin-top: 110px;
  }

  main .main-center .container .iphone img {
    width: 200px;
    top: 95%;
  }

  main .main-bottom {
    margin-top: 30px;
  }
}
/* fine versione mobile */

/* versione tablet */
@media all and (min-width: 768px) and (max-width:991px){
  main .main-center .container > div  {
    padding-top: 85px;
    text-align: center;
  }

  main .main-center .container .iphone img {
    top: 125%;
    width: 250px;
  }
}
/* fine versione tablet  */

/* versione desktop */
@media all and (min-width: 992px){
}
/* fine versione desktop */
