/* Generali */
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  color: orange;
}

p {
  font-size: 18px;
  color: white;
}

h1  {
  font-size: 55px;
  color: white;
  padding-bottom: 30px;
  font-weight: 600;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
  padding: 30px 0;
}

h4 {
  font-size: 20px;
}

.container {
  max-width: 1550px;
}

.centrato {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loghi {
  width: 200px;
  padding-left: 2px;
}
/* fine generali */

/* MENU */
 .menu-fixed {
  z-index: 1;
  position: fixed;
  background-color: white;
  top: 0%;
  width: 100%;
}

.menu-fixed .container > div {
 padding: 20px 0;
}

.menu-fixed .container li {
  display: inline-block;
  text-transform: uppercase;
}

.menu-fixed .container .menu {
 text-align: right;
}

.menu-fixed .container .menu li {
  padding-left: 20px;
}

.menu-fixed .container .language li {
  padding-left: 10px;
}

.menu-fixed .container .language #ita {
 padding: 0 10px;
 border-left: 1px solid black; /*Si possono unire? */
 border-right: 1px solid black;
}

/* HEADER */
/* Jumbotron */
header .jumbotron {
  position: relative;
  height: 700px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: left;
  margin-top: 62px;
}

header .jumbotron .jumbotron-text {
  text-align: center;
}

header .jumbotron .jumbotron-text p {
  padding-bottom: 30px;
}

header .jumbotron .jumbotron-text a {
  display: inline-block;
}
/* fine header */

/* MAIN */
/* Main top */
main .main-top {
  padding: 25px 0;
  text-align: center;
}

main .main-top h2 {
  padding-top: 70px;
}

main .main-top a{
  color: blue;
  font-size: 20px;
}

main .main-top img{
  display: block;
  max-width: 100%;
}

main .main-top .helbizgo, main .main-top .helbizbike {
  background-color: #fafafa;
  margin: 25px;
}

/* Main center */
main .main-center #main-center-sfondo {
  background-image:url(../img/HelbizBanner.jpg);
  background-size: cover;
  background-position: left;
  height: 500px;
}

main .main-center .container p  {
  color: black;
}

main .main-center .container > div  {
  padding-top: 120px;
}

main .main-center .container > div:last-child  {
  line-height: 1.5;
}

main .main-center .container .iphone  {
  height: 180px;
}

main .main-center .container .iphone  {
  position: relative;
}

main .main-center .container .iphone img {
  top: -15%;
  max-width: 87%;
}
/* Main bottom */
main .main-bottom {
  max-width: 1650px;
  text-align: center;
  color: white;
}

main .main-bottom h2{
  padding-bottom: 0px;
}

main .main-bottom a{
  color: white;
  font-size: 25px;
}

main .main-bottom p{
  font-size: 25px;
  padding: 20px 0;
}

main .main-bottom #smart, main .main-bottom #app .app-text, main .main-bottom #city .city-text {
  position: relative;
  background-size: cover;
  height: 530px;
  margin: 30px 0;
}

main .main-bottom #smart {
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-position: left;
  height: 580px;
  margin-top: 90px;
  margin-bottom: 0;
}

main .main-bottom #smart .centrato {
  left: 75%;
  width: 380px;
}

main .main-bottom #app .app-text {
  background-image: url(../img/HelbiZAPP.png), linear-gradient(to bottom, #41566a , #263039);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 190px, 0;
  background-size: 560px, auto;
  margin-right: 15px;
}

main .main-bottom #app .app-text .centrato {
  top: 22%;
}

main .main-bottom #city .city-text {
  background-image: url(../img/Cities-1500.jpg);
  margin-left: 15px;
}

main .main-bottom #city .city-text .centrato {
  top: 22%;
}

/* Main social */
main .main-social {
  position: relative;
  background-image: url(../img/Social-Banner.jpg);
  background-size:contain;
  height: 440px;
  margin-bottom: 30px;
}

main .main-social .centrato {
  background-color: white;
  padding: 70px 160px;
  color: black;
  text-align: center;
}

main .main-social .centrato li{
  display: inline-block;
  padding-top: 5px;
  padding-right: 25px;
}

main .main-social .centrato li:last-child{
  padding-right: 0px;
}

main .main-social .centrato a{
  font-size: 30px;
}
/* FOOTER */
footer {
  position: relative;
  background-color: black;
  height: 700px;
}
/* footer top */
footer .footer-top {
  padding-top: 100px;
}

footer .footer-top h4 {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  padding-bottom: 20px;
}

footer .footer-top li {
  padding-bottom: 20px;
}

footer .footer-top a {
  color: rgb(77, 77, 77);
  font-size: 18px;
}

/* footer center  */
footer .footer-center {
  border-top: 1px solid rgb(77, 77, 77, 0.4);
  border-bottom: 1px solid rgb(77, 77, 77,0.4);
  padding: 40px 0;
  margin-top: 20px;
}
footer .footer-center li{
  display: inline-block;
  padding-right: 20px;
}

footer .footer-center i{
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
}

footer .footer-center p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
}
/* footer bottom */
footer .footer-bottom {
  text-align: center;
}

footer .footer-bottom .loghi {
  width: 120px;
  padding-top: 20px;
}

/* versione mobile */
@media all and (max-width: 767px) {
  /* MAIN */
  /* main center */
  main .main-center .container > div  {
    padding-top: 30px;
    text-align: center;
  }

  main .main-center .container > div:last-child  {
    margin-top: 110px;
  }

  main .main-center .container .iphone img {
    width: 200px;
    top: 95%;
  }

  /* main bottom */
  main .main-bottom {
    margin-top: 30px;
  }

  main .main-bottom #smart {
    margin-top: 0px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }

  main .main-bottom #app .app-text {
    margin-right: 0px;
  }

  main .main-bottom #city .city-text {
    margin-left: 0px;
  }

  main .main-bottom #smart .centrato {
    left: 50%;
  }

  main .main-bottom #app .app-text {
    background-position-y: 370px, 0;
    background-size: 450px, auto;
  }

  main .main-bottom #app .app-text .centrato {
    top: 50%;
  }

  main .main-bottom #city .city-text .centrato {
    top: 50%;
  }

  /* main social */
  main .main-social .centrato {
    padding: 25px 50px;
  }

  /* FOOTER */
  footer {
    text-align: center;
  }

  /* footer top */
  footer .footer-top img{
    padding-bottom: 20px;
  }

  /* footer center */
  footer .footer-center ul{
    padding-bottom: 20px;
  }
}
/* fine versione mobile */

/* versione tablet */
@media all and (min-width: 768px) and (max-width:991px){
  /* MAIN */
  /* main center */
  main .main-center .container > div  {
    padding-top: 85px;
    text-align: center;
  }

  main .main-center .container .iphone img {
    top: 125%;
    width: 250px;
  }

  /* main bottom */
  main .main-bottom #smart {
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }

  main .main-bottom #smart .centrato {
    left: 50%;
  }

  main .main-bottom #app .app-text {
    background-position-y: 370px, 0;
    background-size: 440px, auto;

  }

  main .main-bottom #app .app-text .centrato {
    top: 50%;
  }

  main .main-bottom #city .city-text .centrato {
    top: 50%;
  }

  /* main social */
  main .main-social .centrato {
    padding: 50px 140px;
  }

  /* FOOTER */
  footer {
    text-align: center;
  }

  /* footer top */
  footer .footer-top img{
    padding-bottom: 20px;
  }

  /* footer center */
  footer .footer-center ul{
    padding-bottom: 20px;
  }
}
/* fine versione tablet  */
